{% extends 'base.html.twig' %}

{% block content %}
<div class="col-xs-12 col-md-4">
    <div class="card">
        <div class="header bg-orange">
            <h2>
                Prénom Nom
            </h2>
        </div>
        <div class="body">
            En cours d'emprunt : ...
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-8">
    <div class="card">
        <div class="header">
            <div class="form-line">
                <input type="text" class="form-control" placeholder="Rechercher">
            </div>
            <div align="center">
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Par disponibilité</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Par nom</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Par date</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="body" style="padding: 0px">
            <div class="body table-responsive" style="padding: 0px">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>NOM</th>
                        <th>QUANTITE</th>
                        <th>STOCK DISPONIBLE</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipement in equipements %}
                    <tr>
                        <td>{{ equipement.name }}</td>
                        <td>{{ equipement.quantity }}</td>
                        <td>{{ equipement.availableStock }}</td>
                        <td><button type="button" class="btn bg-orange btn-xs waves-effect">
                                <span align="center">PRETER</span><i class="material-icons">keyboard_arrow_right</i>
                            </button></td>
                    <tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}